/* Zwitschern Chat Frontend Styles */
/* Zentriert den Inhalt der gesamten Seite */
/* Standard-Stil für mobile Geräte */





body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Standard-Einstellung für mobile Geräte */
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f0f0;
}
/* Media Queries für Tablet und PC */
@media (min-width: 768px) {
    body {
        flex-direction: row;
        justify-content: center; /* center Zentriert den Inhalt für Tablets und PCs */
        flex-wrap: wrap; /* Ermöglicht das Umbruchverhalten für Tablets und PCs */
    }
}

.hide {
    display: none !important
}

/* Zusätzliche Stilisierungen für User-Liste und Chat-Bereiche */
.chat__output {
    padding: 20px; /* Innenabstand */
    display: flex; /* Aktiviert Flexbox */
    gap: 10px; /* Abstand zwischen den Kind-Elementen */
    max-width: 500px; /* Maximale Breite */
    overflow-y: auto; /* Ermöglicht vertikales Scrollen, wenn der Inhalt die Höhe überschreitet */
    height: 500px; /* Feste Höhe des Chat-Fensters */
    /* oder alternativ max-height, wenn die Höhe flexibel sein soll, aber nicht größer als ein bestimmter Wert */
    max-height: 500px; /* Maximale Höhe, danach wird gescrollt */
    box-shadow: 0 0 1px rgb(255 255 255 / 50%), 0 0 20px rgb(255 255 255 / 50%); /* Leuchtender Schatten */
    border-radius: 50px;
    flex-direction: column;
}


/* Media Queries für Mobilgeräte */
@media (max-width: 767px) {
    .chat__output {
        margin: 8px auto;
    }
}



#formattedDate {
    font-size: 0.8em;
    color: #1da1f2;
}


/* Grundlegende Anpassungen für den Eingabebereich */
.chat__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 255, 255, 0.1);
    animation: pulse 2s infinite;
}

/* Stil-Anpassungen für die Texteingabefelder */
.chat__input input[type="text"] {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid rgba(0, 255, 255, 0.7);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #00FFFF; /* Leichtes Türkis für den Text */
    outline: none;
}

/* Erhöht die Sichtbarkeit und das Design des Senden-Buttons */
.chat__input button {
    width: auto;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #00FFFF; /* Neon-Hellblau */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat__input button:hover {
    background-color: #008B8B; /* Dunkleres Türkis beim Hover */
}

/* Pulsierende Animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    }
}

/* Verbessert die Lesbarkeit des Platzhalters */
.chat__input input::placeholder {
    color: rgba(0, 255, 255, 0.7);
}


.post {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin: 8px auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 255, 255, 0.1);
    margin-bottom: 15px;
    flex-direction: column;
}

/* Stil für den Nutzerprofil-Container */
#user-profile {
    background-color: rgba(0, 255, 255, 0.2); /* Halbtransparentes Türkis */
    border: 2px solid rgba(0, 255, 255, 0.6); /* Leuchtender türkiser Rand */
    padding: 20px; /* Innenabstand */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5); /* Leuchtender Schatten für den Neon-Effekt */
    border-radius: 10px; /* Abgerundete Ecken */
    display: flex; /* Aktiviert Flexbox für diesen Container */
    flex-direction: column; /* Stapelt die Kinder vertikal */
    align-items: center; /* Zentriert die Kinder horizontal */
    gap: 10px; /* Abstand zwischen den Kind-Elementen */
    margin: 8px;
}

/* Background */
.blur-background {
    background-image: url('assets/background.jpg');
    filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

/* Logo icon */
.zwitschern-chat-logo {
    width: auto;
    height: 9vh;
    cursor: pointer;
}

/* Account icon */
.account {
    width: auto;
    height: 7vh;
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    border-bottom: 1px solid #eee;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    width: auto;
    height: 3vh;
    margin: 8px;
}
.header__text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: max-content;
}
.header__title {
    font-size: 2.5vh;
    font-weight: 600;
    color: #1da1f2;
}
.header__subtitle {
    font-size: 1vh;
    font-weight: 1000;
    color: #1da1f2;
}

/* Media Queries for Desktop */
@media (min-width: 1024px) {
    .zwitschern-chat-logo, .account {
        height: 15vh; 
        width: auto;
    }

    .header {
        height: 15vh; 
    }

    .header__title {
        font-size: 5vh;
    }

    .header__subtitle {
        font-size: 2vh;
    }
}

/* Media Queries for Tablet and iPad */
@media (min-width: 768px) and (max-width: 1023px) {
    .zwitschern-chat-logo, .account {
        height: 10vh; 
        width: auto;
    }

    .header {
        height: 10vh; 
    }

    .header__title {
        font-size: 3vh;
    }

    .header__subtitle {
        font-size: 1.5vh;
    }
}