/* Zwitschern Chat Frontend Styles */
/* Zentriert den Inhalt der gesamten Seite */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Verwendet die gesamte Höhe des Viewports */
    margin: 0; /* Entfernt den Standard-Margin */
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #f0f0f0; /* Hintergrundfarbe der Seite, optional */
}

/* Stil für den Nutzerprofil-Container */
#user-profile {
    background-color: rgba(0, 255, 255, 0.2); /* Halbtransparentes Türkis */
    border: 2px solid rgba(0, 255, 255, 0.6); /* Leuchtender türkiser Rand */
    padding: 20px; /* Innenabstand */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5); /* Leuchtender Schatten für den Neon-Effekt */
    border-radius: 10px; /* Abgerundete Ecken */
    display: flex; /* Aktiviert Flexbox für diesen Container */
    flex-direction: column; /* Stapelt die Kinder vertikal */
    align-items: center; /* Zentriert die Kinder horizontal */
    gap: 10px; /* Abstand zwischen den Kind-Elementen */
}

/* Background */
.blur-background {
    background-image: url('assets/background.jpg');
    filter: blur(5px);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

/* Logo icon */
.zwitschern-chat-logo {
    width: auto;
    height: 9vh;
    cursor: pointer;
}

/* Account icon */
.account {
    width: auto;
    height: 7vh;
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    padding: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8));
    border-bottom: 1px solid #eee;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5);
    width: auto;
    height: 3vh;
}
.header__text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: max-content;
}
.header__title {
    font-size: 2.5vh;
    font-weight: 600;
    color: #1da1f2;
}
.header__subtitle {
    font-size: 1vh;
    font-weight: 1000;
    color: #1da1f2;
}

/* Media Queries for Desktop */
@media (min-width: 1024px) {
    .zwitschern-chat-logo, .account {
        height: 15vh; 
        width: auto;
    }

    .header {
        height: 15vh; 
    }

    .header__title {
        font-size: 5vh;
    }

    .header__subtitle {
        font-size: 2vh;
    }
}
